body{background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width:1080px;
margin-left:auto;margin-right:auto;
border-width:2px;border-style:solid;border-color:olive;border-radius:6px;
padding-left:36px;padding-rigth:36px;
}
