h1{color:RGB(97, 85, 166);
font-werght:bold}
h2{color:RGB(166, 133, 226);
font-werght:bold}
p{color:white}
body{background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
width:1080px;
margin-left:auto;margin-right:auto;
border-width:2px;border-style:solid;border-color:green;border-radius:5px;
}
